langchain==0.3.27
langchain-community==0.3.9
langchain-core==0.3.72
langchain-google-genai==2.0.10
langchain-huggingface
langchain-chroma
langchain-text-splitters
sentence-transformers
chromadb==0.5.3
pymupdf
faiss-cpu
tavily-python
